#segment-footer > .container {
  background-color: #68873a;
}
.navbar-inverse {
  background-color: #68873a;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #790713;
}
#family-nav {
  line-height: 50px;
  float: right;
  margin-top: 4px;
  color: #808080;
}
#family-logo {
  float: right;
  margin-left: 6px;
}
